/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .page-title{
  height: 100%;
}





nav ul a{
  color:black;
}

p {
  line-height: 2rem;
}

li div{
  padding:5px;
  background: rgba(0,0,0,0.3)
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.glass{
  background: rgba(0,0,0,0.3);
}
#map{
  margin: 0;
  padding: 0;
  height: 300px;
}

nav div a{
  margin-left: 20px;
}
body, nav{
  background: #f7f7f7;
}

.invisible{
  opacity: 0;
}
h1{
  font-size: 600%;
}

h2{
  color: #795548;
  font-size:500%;
}
h3{
  font-size:350%;
}

h3 i{
  color:#8BC34A;
}


h6{
  font-size:200%
}

.big-para{
  font-size:120%;
}

nav{
  background: white;
}
nav ul a:hover{
  background-color: rgba(77, 182, 172,1);
  color:white;
}

.side-nav a:hover {
  background-color: rgba(77, 182, 172,1);
  color:white;
}

nav div a img:hover{
  height:102%;
}

.red{
  background: red;
}

.fill-screen-almost{
  height:calc(100vh - 64px);
}

.fill-screen{
  height: 105vh;
}

.stitched {
   color: #fff;
   border: 2px dashed #fff;
   border-radius: 10px;
}

.lilac{
  background: #D33F49;
}


@media only screen and (max-device-width: 450px) and (orientation: portrait){
  .phone-check{
    height:100%;
  }
  
}

@media only screen and (max-device-height:500px) and (orientation:landscape){
  .phone-check{
    height:100%;
  }
  
}